@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sales Report</h1>
    <p class="lead">Upload a CSV file containing vehicle sales data and visualize the data in a web browser. Application Stack: ASP.NET Web Application - MVC (C#, Entity Framework, HTML, CSS and JavaScript).</p>
    
</div>

<div class="jumbotron">
    <h2>Acceptance Criteria</h2>
    <p class="lead">Application should work on the latest version of Chrome, Internet Explorer and Firefox.</p>
    
</div>


